.card {
  background: #fff;
  position: relative;
  font-size: 20px;
  box-shadow:
    0 -1px 1px rgba(0,0,0,0.15),
    0 -10px 0 -5px #eee,
    0 -10px 1px -4px rgba(0,0,0,0.15),
    0 -20px 0 -10px #eee,
    0 -20px 1px -9px rgba(0,0,0,0.15);
}
.card__header {
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
}
.card__content {
  min-height: 500px;
}
.card__footer {
  padding: 10px 15px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}